@charset "utf-8";
/* ========================================
  body
========================================= */

/* ========================================
  header
========================================= */
/*--メニュー開始ボタン--*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #adadad;
  color: #fff;
}

/*--メニュー本体--*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 22, 28, 0.6);
}

.menu__item{
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
}

.menu__item:hover {
  color: #c5cbe1;
  font-size: 24px;
}

/*--アニメーション部分--*/
.menu{
  transform: translateX(100vw);
  transition: all .5s ease;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}
/* ========================================
  main
========================================= */
.top-main {
  width: 100%;
  text-align: center;
  height: 780px;
  color: white;
  background-color: gray;
  background-image: url("../image/IMG_0208\ 2.JPG");
  background-size:cover;
}

.top-message {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.top-main h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
  font-family: serif;
  opacity: 0.7;
}

.top-main p {
  font-size: 24px;
  opacity: 0.7;
}

@media all and (max-width: 670px) {
  .top-main {
    width: 100%;
    height: 100%;
    padding: 300px 0;
    background-size: cover;
  }

  .top-message {
    top: 40%;
  }

  .top-main h1 {
    font-size: 37px;
    margin-bottom: 10px;
  }

  .top-main p {
    font-size: 14px;
  }
}
/* ========================================
  ABOUT
========================================= */
/* 左 */
#ABOUT {
  background-color: #fff;
}

.section-width {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-wrapper {
  padding-top: 130px;
  padding-bottom: 100px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-weight: bold;
  font-family: serif;
  margin-bottom: 80px;
  font-size: 28px;
}

.section-title span {
  color: #c5cbe1;
  font-weight: bold;
  font-family: serif;
  margin-bottom: 80px;
  margin-left: 10px;
  font-size: 28px;
}

.side-by-side {
  justify-content: space-evenly;
  padding-bottom: 130px;
  display: flex;
}

.about-left {
  width: 30%;
  height: 300px;
  padding: 0 5%;
  background-color: gray;
  background-image: url("../image/0216.jpg");
  background-size:cover;
  border-radius: 50%;
  border: 9px solid #becbd5;
}

@media all and (max-width: 670px) {
  .section-width {
    width: 100%;
  }

  .section-wrapper {
    padding-top: 100px;
    width: 85%;
  }

  .side-by-side {
    display: block;
    text-align: center;
  }

  .about-left {
    width: 55%;
    margin: 0 auto;
    padding: 0 15%;
    margin-bottom: 50px;
  }
}
/* ========================================
    右
========================================= */
.about-right {
  width: 70%;
}

.about-right p {
  width: 80%;
  margin: 0 0 0 auto;
  text-align: left;
}

.about-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-name span {
  font-size: 20px;
  font-weight: bold;
  color: #c5cbe1;
}

.about-right p span {
  color: #c5cbe1;
}

.side-by-side .about-right .fab {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  color: #c5cbe1;
}

@media all and (max-width: 670px) {
  .about-right {
    width: 100%;
  }

  .about-right p {
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
  }
}
/* ========================================
    SKILLS
========================================= */
.skills-bg {
  width: 100%;
  height: 500px;
  margin-bottom: 130px;
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

.p-skill-items {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 130px;
}

.p-skill-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
}

.u-mt-3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 5px;
  margin: 0 auto;
}

.p-skill-item .fab {
  font-size: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-skill-item p {
  font-family: serif
}

.skill-image {
  margin-left: 10px;
}

.icon-skill {
  font-size: 60px;
}

@media all and (max-width: 670px) {
  .p-skill-items {
    margin: 0 30px;
  }

  .p-skill-item {
    margin-left: 20px;
    margin-bottom: 50px;
  }
}
/* ========================================
    PORTFOLIO
========================================= */
#PORTFOLIO {
  margin: 0 auto;
  text-align: center;
  padding-top: 120px;
}

.container-width {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container-width .container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.portfolio-list {
  width: 40%;
}

.container img {
  width: 100%;
  height: 200px;
  background-size: cover;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 7px solid #c5cbe1;
}

.portfolio-coming-soon {
  width: 40%;
  position: relative;
}

.portfolio-coming-soon p {
  position: absolute;
  color: #9b9b9b;
  font-family: serif;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

@media all and (max-width: 670px) {
  .container-width {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }

  .container-width .container {
    display: block;
    margin: 0 auto;
  }

  .portfolio-list {
    width: 100%;
  }

  .portfolio-coming-soon {
    width: 100%;
  }
}